body {
  font-family: Arial, sans-serif;
  background-color: #a18a97;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #8bbbcd;
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container input {
  margin: 10px 0;
  padding: 10px;
}

.form-container button {
  padding: 10px;
  background-color: #8579b2;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #2980b9;
}

.hidden {
  display: none;
}

a {
  color: #3498db;
  cursor: pointer;
}
